<div class="row">
  <div class="col-md-3">
    <!--img ng-src="img/Eva027.jpg" style="width: 50%;"></img-->
    <!--img ng-src="img/{{images[person]}}" style="width: 50%;"></img-->
    <img ng-src="img/{{character[person]}}" style="width: 50%;"></img>
  </div>
  <div class="col-md-6">
    <p>{{text | sir : this}}</p>
  </div>
</div>
