<html ng-app="app">
  <head>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
    <link rel="stylesheet" type="text/css" 
	  href="bower_components/bootstrap/dist/css/bootstrap.css"></link>
    <link rel="stylesheet" type="text/css" href="decoration.css"></link>
  </head>
  <body ng-controller="MainCtrl">
    <button ng-click="decrement()">
      Decrement
    </button>
    <button ng-click="increment()">
      Increment
    </button>
    <button ng-click="reveal()">
      reveal
    </button>
    <span>
      <!--count: {{count}}-->
      {{character_of_keys[count]}}
    </span>
    <div ng-repeat="datum in data">
      <div ng-repeat="text in datum.quote track by $index">
	<div quotes></div>
	<br>
    </div>
  </body>
</html>
